<h1>User List</h1>
<ul id="user-list">
  <% @users.each do |user| %>
    <li class=<%= user.available? ? "available" : "unavailable" %>>
      <h2><%= user.name%></h2>
      <button class="away-button">Set Away</button>
      <button class="save-button">Save</button>
      <div class="away-form">
        <div class="line">
          <label class="label-for">Return Time: </label>
          <span class="time-selector">
            <% [7,8,9,10,11,12,1,2,3,4,5,6,7].each do |i| %>
              <label class="time-out"><%= i %></label>
              <%= radio_button_tag 'time-back', 'plain', true %>
            <% end %>
          </span>
        </div>
        <div class="line">
          <label class="label-for">Message: </label>
          <%= text_area(:message, :body, :cols => 50, :rows => 4) %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
